schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pozadavek">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="person" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="name"/>
							<xs:element type="xs:string" name="department"/>
							<xs:element type="xs:string" name="place"/>
							<xs:element type="xs:int" name="phone"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="problem" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="createTime" minOccurs="1"/>
							<xs:element type="xs:string" name="type" minOccurs="1"/>
							<xs:element type="xs:boolean" name="restart" minOccurs="1"/>
							<xs:element type="xs:int" name="priority" minOccurs="1"/>
							<xs:element type="xs:string" name="desc"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pc" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="os" minOccurs="1"/>
							<xs:element type="xs:string" name="osVersion" minOccurs="1"/>
							<xs:element type="xs:string" name="totalRam" minOccurs="1"/>
							<xs:element type="xs:string" name="freeRam" minOccurs="1"/>
							<xs:element type="xs:string" name="cpu" minOccurs="1"/>
							<xs:element type="xs:float" name="appv" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="action" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="actionTime"/>
							<xs:element type="xs:string" name="itWorker"/>
							<xs:element type="xs:boolean" name="resolved" minOccurs="1"/>
							<xs:element type="xs:string" name="problemSource"/>
							<xs:element type="xs:string" name="fixes"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>